#
# Copyright (c) 2022 Darryl deHaan
# SPDX-License-Identifier: MIT
#

config BOARD_BLE34_LEFT
    bool "ble34 left"
    select BOARD_BLE34_LEFT
    depends on SOC_NRF52840_QIAA && BOARD_BLE34_LEFT

config BOARD_BLE34_RIGHT
    bool "ble34 right"
    select BOARD_BLE34_RIGHT
    depends on SOC_NRF52840_QIAA && BOARD_BLE34_RIGHT